$brand-color: #5eff00;
$brand-color-2: #000000;
$default-hero-image: '/gpu.png';

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
